@font-face {
  font-family: 'KOTRA';
  src: url('/fonts/KOTRA_BOLD.ttf');
}

@font-face {
  font-family: 'DIGITAL';
  src: url('/fonts/LAB디지털.ttf');
}

@font-face {
  font-family: 'JALNAN';
  src: url('/fonts/JalnanOTF.otf');
}

@font-face {
  font-family: 'BLACK-GOTHIC';
  src: url('/fonts/BlackHanSans-Regular.ttf');
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('/fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('/fonts/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('/fonts/GmarketSansTTFBold.ttf');
}

@font-face {
  font-family: 'Nyuseusokbo';
  src: url('/fonts/THE_Nyuseusokbo.ttf');
}

@font-face {
  font-family: 'Game';
  src: url('/fonts/Game.ttf');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: auto;
  position: fixed;
  display: flex;
  justify-content: center;
}

.alive-check {
  background-color: green;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
  position: fixed;
}

/* 우측 상단 응원메세지 영역 */
.donation {
  display: none;
  width: 1280px;
  height: 100vh;
  justify-items: center;
  align-items: center;
  position: fixed;
}

.donation-wrapper {
  width: 100%;
  height: 100%;
}

.donation-image {
  height: 100%;
  margin-bottom: 10px;
  border-radius: 0px;
  border-width: 0px;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  text-shadow: -2px -2px 0 rgb(85, 83, 83), 0 -2px 0 rgb(85, 83, 83),
    2px -2px 0 rgb(85, 83, 83), 2px 0 0 rgb(85, 83, 83), 2px 2px 0 rgb(85, 83, 83),
    0 2px 0 rgb(85, 83, 83), -2px 2px 0 rgb(85, 83, 83), -2px 0 0 rgb(85, 83, 83);
  font-family: 'NotoSansBold';
}

.animated.heartbeat {
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#donation-top {
  margin: 6px;
}
#donation-sub {
  color: rgb(255, 255, 255);
}

#donation-num {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 252, 255);
}

#donation-user-id {
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 252, 255);
}

#message {
  font-size: 35px;
  color: rgb(255, 255, 255);
}
